In [ ]:
!xed ~/.bashrc

In [ ]:
!export HIVE_HOME=/home/wirarama/hive
!export PATH=$PATH:$HIVE_HOME/bin

In [ ]:
!~/hadoop/bin/hdfs namenode -format

In [ ]:
!~/hadoop/sbin/start-dfs.sh

http://localhost:50070/

In [1]:
!~/hadoop/bin/hdfs dfs -mkdir /tmp
!~/hadoop/bin/hdfs dfs -chmod g+w /tmp

In [ ]:
!hive -e 'create database test_db;'

In [ ]:
!hive -e 'use test_db;create table t(id int);'

In [ ]:
!hive -e 'INSERT INTO test_db.t VALUES(1)'

In [2]:
!hive -e 'drop database test cascade;'

ls: cannot access '/home/wirarama/spark/lib/spark-assembly-*.jar': No such file or directory

Logging initialized using configuration in jar:file:/home/wirarama/hive/lib/hive-common-1.2.2.jar!/hive-log4j.properties
OK
Time taken: 7.179 seconds

In [ ]:
#testquerycsv-edit.sql
create database if not exists test;
create table test.sample (tgl STRING, a INT, b INT, c INT, d INT) row format delimited fields terminated by ',' stored as textfile;
use test; 
show tables;
load data local inpath 'DataWaktu.csv' into table test.sample;
select * from sample limit 50;

In [3]:
!hive -f ~/hive/test/testquerycsv-edit.sql

ls: cannot access '/home/wirarama/spark/lib/spark-assembly-*.jar': No such file or directory

Logging initialized using configuration in jar:file:/home/wirarama/hive/lib/hive-common-1.2.2.jar!/hive-log4j.properties
OK
Time taken: 2.1 seconds
OK
Time taken: 1.31 seconds
OK
Time taken: 0.014 seconds
OK
sample
Time taken: 0.43 seconds, Fetched: 1 row(s)
Loading data to table test.sample
Table test.sample stats: [numFiles=1, totalSize=289155]
OK
Time taken: 2.472 seconds
OK
2013-01-01 01:00:00	1	65	403	34
2013-01-01 02:00:00	5	96	1518	1168
2013-01-01 03:00:00	7	54	284	24
2013-01-01 04:00:00	2	72	371	33
2013-01-01 05:00:00	3	66	391	24
2013-01-01 06:00:00	7	84	383	21
2013-01-01 07:00:00	7	71	398	25
2013-01-01 08:00:00	5	52	228	34
2013-01-01 09:00:00	9	81	336	29
2013-01-01 10:00:00	4	73	1512	1186
2013-01-01 11:00:00	9	63	1506	1255
2013-01-01 12:00:00	6	52	249	32
2013-01-01 13:00:00	1	84	216	30
2013-01-01 14:00:00	6	61	332	28
2013-01-01 15:00:00	5	6912	3601	1558
2013-01-01 16:00:00	1	84	301	29
2013-01-01 17:00:00	8	71	437	26
2013-01-01 18:00:00	2	50	360	27
2013-01-01 19:00:00	6	96	229	20
2013-01-01 20:00:00	1	64	297	27
2013-01-01 21:00:00	10	97	272	21
2013-01-01 22:00:00	1	64	272	27
2013-01-01 23:00:00	1	55	175	30
2013-01-02 00:00:00	1	91	271	22
2013-01-02 01:00:00	10	72	268	34
2013-01-02 02:00:00	2	84	1579	1258
2013-01-02 03:00:00	8	96	1551	1209
2013-01-02 04:00:00	8	66	209	21
2013-01-02 05:00:00	6	93	1526	1295
2013-01-02 06:00:00	1	86	193	25
2013-01-02 07:00:00	1	93	339	33
2013-01-02 08:00:00	5	100	339	22
2013-01-02 09:00:00	1	66	383	35
2013-01-02 10:00:00	10	5342	4287	2063
2013-01-02 11:00:00	9	56	336	33
2013-01-02 12:00:00	3	60	419	21
2013-01-02 13:00:00	9	88	1576	1233
2013-01-02 14:00:00	6	83	322	26
2013-01-02 15:00:00	5	74	408	24
2013-01-02 16:00:00	3	73	400	25
2013-01-02 17:00:00	3	69	1507	1246
2013-01-02 18:00:00	1	71	277	31
2013-01-02 19:00:00	8	84	366	27
2013-01-02 20:00:00	2	66	318	24
2013-01-02 21:00:00	5	57	224	30
2013-01-02 22:00:00	10	82	330	34
2013-01-02 23:00:00	7	65	1547	1190
2013-01-03 00:00:00	6	91	1635	1216
2013-01-03 01:00:00	9	77	438	20
2013-01-03 02:00:00	8	52	407	28
Time taken: 1.358 seconds, Fetched: 50 row(s)

In [ ]:
!~/hadoop/bin/hdfs dfs -ls /user/hive/warehouse/test2.db/sample

In [4]:
!hive -e 'SELECT * FROM test.sample WHERE a>5 AND b>50 AND c>1000 LIMIT 20;'

ls: cannot access '/home/wirarama/spark/lib/spark-assembly-*.jar': No such file or directory

Logging initialized using configuration in jar:file:/home/wirarama/hive/lib/hive-common-1.2.2.jar!/hive-log4j.properties
OK
2013-01-01 11:00:00	9	63	1506	1255
2013-01-02 03:00:00	8	96	1551	1209
2013-01-02 05:00:00	6	93	1526	1295
2013-01-02 10:00:00	10	5342	4287	2063
2013-01-02 13:00:00	9	88	1576	1233
2013-01-02 23:00:00	7	65	1547	1190
2013-01-03 00:00:00	6	91	1635	1216
2013-01-03 07:00:00	6	8832	5587	6967
2013-01-03 09:00:00	9	88	1696	1189
2013-01-03 19:00:00	9	76	1683	1278
2013-01-04 01:00:00	8	76	1691	1142
2013-01-04 07:00:00	7	7182	4813	2447
2013-01-04 11:00:00	6	62	1532	1280
2013-01-04 12:00:00	8	5679	5550	3006
2013-01-05 06:00:00	7	72	1571	1149
2013-01-05 07:00:00	6	7069	4466	5226
2013-01-05 14:00:00	6	5043	4832	7143
2013-01-06 08:00:00	6	86	1671	1188
2013-01-06 10:00:00	8	82	1524	1297
2013-01-07 01:00:00	6	76	1608	1193
Time taken: 3.011 seconds, Fetched: 20 row(s)

In [ ]:
!~/hadoop/sbin/stop-dfs.sh